<div class="de-headline">
  <div class="de-pill-box">
    <% Object.keys(post.tags).forEach(function(tag){ %>
    <div class="de-pill de-pill-<%-tag%>">
      <a href="/tags/<%-tag%>"><%- post.tags[tag] %></a>
    </div>
    <% }); %>
    <span class="de-headline-date"> &#8212; <%= post.date %></span>
  </div>
  <h2 class="de-headline-title">
    <a href="posts/<%= post.pagePath %>"><%= post.title %></a>
  </h2>

  <p class="de-headline-whyread-content">
    <%= post.whyRead %>
  </p>
  <a class="de-headline-readmore" href="posts/<%= post.pagePath %>">Read More.</a>
</div>
