<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>davidea.st - Web Development Articles </title>
    <style><%- styles %> /**/</style>
  </head>
  <body>

    <%- include(__dirname + '/templates/_header'); %>

    <div class="de-grid de-row-double de-padding">

      <%- include(__dirname + '/templates/_headline', { post: headlinePost }); %>

      <div class="articlelist">
        <% articles.forEach(function(post){ %>

        <%- include(__dirname + '/templates/_article', { post }); %>   

        <% }); %>      

      </div>
    </div>
    
    <%- include(__dirname + '/templates/_footer'); %> 

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Source+Sans+Pro:300,400" rel="stylesheet">
  </body>
</html>
