<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= post.title %></title>
    <style><%- styles %> /**/</style>
  </head>
  <body>

    <%- include(__dirname + '/templates/_header'); %>

    <div class="de-grid de-row-double de-padding">

      <article class="de-post">

        <section class="de-article-content">
          <%- include(__dirname + '/templates/_article-title', { post }); %>
        </section>

        <%- include(__dirname + post.page); %>
        
      </article>

    </div>

    <%- include(__dirname + '/templates/_footer'); %> 

    <script defer src="/assets/prism.js"></script>
    <script defer src="/assets/fonts.js"></script>
  </body>
</html>
